/* Reset some default styles to ensure consistency */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Define the grid layout for the main content and footer */
.container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  grid-row: 1;
}

header img {
  max-width: 50%;
  height: auto;
  align-content: center;
  margin: 0 auto;
}

/* Style the navigation menu */
nav {
  background-color: #f2f2f2;
  color: #000000;
  padding: 10px;
  text-align: center;
  grid-row: 2;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

nav ul li {
  margin: 0 40px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
}

nav ul li a:hover {
  color: #0033ff; 
}

/* the main content section */
main {
  padding: 20px;
  background-color: #f2f2f2;
  grid-row: 3;
}

/* video element */
video {
  width: 83vw;
  height: 30vh;
  object-fit: cover;
  margin: auto;
  display: block;
  padding-bottom: 20px;
}

/* the main content */
.column-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 30%;
  flex-grow: 1;
}

.column p {
  width: 250px;
}

.column img {
  max-width: 100%;
  height: auto;
  width: 277px;
  height: 277px;
}

.column img:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
}

/* the footer */
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center; 
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-right: 30px; 
}

.logo img {
  width: 90px;
  height: 50px;
}

footer p {
  margin: 0;
}